body {
  font-family: sans-serif;
  background: rgb(61, 58, 58);
  overflow: hidden;
}

.heading {
  font-size: 35px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.rps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  gap: 10px;
  background: lightgrey;
  border-radius: 15px;
}

.results {
  display: flex;
  gap: 15px;
}

.resultText {
  display: flex;
  font-size: 20px;
}
.player, .computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  z-index: 1;
  overflow: auto;
  display: none;
  border-radius: 15px;
}
.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 30%;
  font-weight: bolder;
}
.popup-content button {
  display: block;
  margin: 0 auto;
}

.show {
  display: flex;
  background-color: rgb(94, 89, 89);
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  padding: 50px 10px;
}

h1 {
  color: white;
}
